<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Collect Data</title>
</head>
<body>
    <h3>Import Data</h3>
    @using (Html.BeginForm("Save", "InfluxDataCollector"))
    {
        <input type="submit" value="Collect Data"/>
    }
    @using (Html.BeginForm("Rewrite", "InfluxDataCollector"))
    {
        <input type="submit" value="Rewrite data on InfluxDB"/>
    }
</body>
</html>