<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TeslamatePostgreSQL</title>
</head>
<body>
    <h3>Update Data</h3>
    @using (Html.BeginForm("Update", "TeslamatePostgreSQL"))
    {
        <input type="submit" value="Update Teslamate Tables"/>
    }
</body>
</html>